/* Mobile First ^_^ */

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
  

*{
    text-decoration: none !important;
}


:root{
    --orange: #FF8A56;
}

body{
    font-family: 'Roboto', sans-serif;
}





.intro-left-side h1{
    font-size: 34px;
}



.intro-left-side h1 span{
    color:var(--orange)
}

.intro-left-side a.book{
    background-color: #222;
}

/* services section */

.card-img-top{
    width: 70px;
    height: 70px;
}

.services ul{
    list-style-type: square;
    padding: 0;
}

.services h6{
    color:var(--orange)
}


.bring-result{
    display: flex;
}

.bring-result a{
    background-color: #222;
    
}

.projecth5 h5{
    color:#B16CEA;

}



.projects-cards{
margin-top: 20px;

}

.projects-cards > img {
width: 80%;
}


.blogs{
    background-color: black;
    padding-top: 100px;
}


.blogs2{
    color: #FFA84B;
}





.pd{
    color: #FF5E69;
    font-weight: 700;
    size: 22px;
}


.otp{
    font-size: 22px;
    font-weight: 400;
    color: #666666;
    
}


.test{
    color: #4353FF;
    font-size: 22px;
    font-weight: 700;
}

.str{
    font-size: 54px;
    font-weight: 700;
}

.jade{
    font-weight: 700;
    font-size: 36px;
}

.quotes{
    padding-top: 100px;
}

.jf{
    padding-top: 115px;
}


.mantest{
    width: 485px;
    height: 450px;
}






.faq{
    padding-top: 100px;
    background-color:black;
}


.faqq{
    color: #FF8A56;
}





.accordion-button{
    background-color: black;
}



.accordion-body{
    background-color: rgb(0, 0, 0);
    color: white;
}




.lets{
    color: #3C46FF;
font-size: 54px;  
  font-weight: 700;
}

.ready{
    font-size: 54px;
    font-weight: 700;
    padding-top: 100px;
}



li{
    list-style: none;
}


.footer{
    background-color: black;
}

.footer1 , .footer2 , .footer3{
    display: inline-block;
}





@media(min-width:768px){
    .nav-links{
        display: flex !important;
    }

    .fa-bars{
        display: none;
    }

    


    

.intro-left-side{

    padding-top: 52px;
}


    .intro-left-side h1{
        font-size: 40px;
    }




    .footer1 , .footer2 , .footer3{
        display: inline-block;
         
    }
    


}





@media(min-width:992px){
.intro-left-side h1{
    font-size: 70px;
}
.intro-left-side {
    padding-top: 92px;
}

}
